<h1>All contacts</h1>

<div class="row">
  <% @contacts.each_slice(2) do |two_contacts| %>
    <div class="row">
        <% two_contacts.each do |contact| %>
          <div class="col-md-6">
            <h2>First name: <%= link_to contact.first_name, "/contacts/#{contact.id}" %></h2>
            <h2>Last_name: <%= contact.last_name %></h2>
            <h2>Email:<%= contact.email %></h2>
          </div>
        <% end %>
    </div>
  <% end %>
</div>