
<%= form_tag "/contacts", method: :post do %>
  <div class="form-group">
    First name: <input type="text" name="first_name" class="form-group">
  </div>
  <div class="form-group">
    Last name: <input type="text" name="last name" class="form-group">
  </div>
  <div> 
    Phone number: <input type="text" name="phone_number" class="form-group">
  </div>
  <div class="form-group">
    Email: <input type="text" name="email" class="form-group">
  </div>
  <div>
    Submit: <input type="submit" name="submit" class="btn btn-info">
  </div>
<% end %>